* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #f6f6f6;
}

.App {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    border-radius: 5px;
    max-width: 1170px;
    /*width: 90vm;*/
    margin: 3rem 0;
}

.product {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ede9fe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.productImg{
    object-fit: cover;
}
.productImg img {
    width: 100%;
    height: 300px;
}

.productDes {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ede9fe;
    color: #6d28d9;
}

.primary{
    background-color: #6d28d9;
    color: #ffff;
}
